<template>
  <div class="dadata-field" :class="$attrs.class">
    <textarea
      v-model="inputQuery"
      class="dadata-field__textarea"
      v-bind="textareaAttrs"
      spellcheck="false"
      autocomplete="off"
      @keydown="onKeydown"
    />
    <ul v-if="isSuggestionVisible" class="dadata-field__popup">
      <li
        v-for="(suggestion, index) in suggestions"
        :key="suggestion"
        class="dadata-field__item"
      >
        <label
          class="dadata-field__suggestion"
          :class="{
            'dadata-field__suggestion_active': suggestionIndex === index,
          }"
          @mousedown.prevent="selectSuggestion(index)"
        >
          <input
            v-model="suggestionIndex"
            type="radio"
            :value="index"
            class="dadata-field__radio"
          />
          {{ suggestion.value }}
        </label>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from 'vue';
import { debounce } from 'lodash';
import { getAddressSuggests, abort } from '../dadata';

const DEBOUNCE_TIMEOUT = 500;

type Suggestion = {
  value: string;
};

export default defineComponent({
  name: 'DadataField',
  inheritAttrs: false,
  props: {
    inputClass: {
      type: String,
      default: '',
    },
    modelValue: {
      type: String,
      default: '',
    },
  },
  emits: ['update:modelValue'],
  setup(props, { emit, attrs }) {
    const suggestions = ref<Suggestion[]>([]);
    const suggestionIndex = ref<number | null>(null);
    const inputQuery = ref(props.modelValue);
    const loading = ref(false);
    const currentSuggestion = ref<Suggestion | null>(null);

    const isSuggestionVisible = computed(
      () =>
        suggestions.value.length > 1 ||
        (suggestions.value.length === 1 &&
          suggestions.value[0].value !== inputQuery.value)
    );

    const fetchSuggestions = async (value: string) => {
      if (loading.value) {
        abort();
      }
      loading.value = true;
      suggestionIndex.value = null;
      // suggestions.value = [];
      const data = await getAddressSuggests(value);
      suggestions.value = data.suggestions;
      loading.value = false;
    };

    const debouncedFetchSuggestions = debounce(
      fetchSuggestions,
      DEBOUNCE_TIMEOUT
    );

    watch(inputQuery, debouncedFetchSuggestions);
    watch(
      () => props.modelValue,
      () => {
        inputQuery.value = props.modelValue;
      }
    );

    const goNextSuggestion = () => {
      if (suggestions.value.length === 0) {
        return;
      }
      if (suggestionIndex.value === null) {
        suggestionIndex.value = 0;
      } else if (suggestions.value.length > suggestionIndex.value + 1) {
        suggestionIndex.value += 1;
      }
    };

    const goPrevSuggestion = () => {
      if (suggestions.value.length === 0) {
        return;
      }
      if (suggestionIndex.value === null) {
        suggestionIndex.value = suggestions.value.length - 1;
      } else if (suggestionIndex.value > 0) {
        suggestionIndex.value -= 1;
      }
    };

    const selectSuggestion = (index: number) => {
      currentSuggestion.value = suggestions.value[index];
    };

    watch(currentSuggestion, () => {
      inputQuery.value = currentSuggestion.value?.value || '';
    });

    watch(inputQuery, () => {
      emit('update:modelValue', inputQuery.value);
    });

    const onKeydown = (e: KeyboardEvent) => {
      const ARROW_DOWN = 'ArrowDown';
      const ARROW_UP = 'ArrowUp';
      const ENTER = 'Enter';

      switch (e.key) {
        case ARROW_DOWN:
          goNextSuggestion();
          break;
        case ARROW_UP:
          goPrevSuggestion();
          break;
        case ENTER:
          if (suggestions.value.length === 0) {
            return;
          }
          if (suggestionIndex.value === null) {
            return;
          }
          currentSuggestion.value = suggestions.value[suggestionIndex.value];
          e.preventDefault();
          break;
        default:
          break;
      }
    };

    return {
      suggestions,
      suggestionIndex,
      isSuggestionVisible,
      inputQuery,
      loading,
      selectSuggestion,
      onKeydown,
      textareaAttrs: {
        ...attrs,
        class: props.inputClass,
      },
    };
  },
});
</script>

<style lang="scss">
.dadata-field {
  position: relative;

  &__textarea {
    width: 100%;
    height: 100%;
  }

  &__popup {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: white;
  }

  &__item {
    margin: 0;
    padding: 0;
  }

  &__suggestion {
    display: block;
    padding: 5px 10px;

    &_active {
      background: #00e676;
    }
  }

  &__radio {
    display: none;
  }

  &:focus-within & {
    &__popup {
      display: block;
    }
  }
}
</style>
