.cart {
  margin-top: 40px;
  margin-bottom: 121px;

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      padding: 13px 56px;
    }
  }

  &__items {
    display: grid;
    grid-gap: 25px;
    margin: 25px 0;
  }

  &__total-wrapper {
    padding-bottom: 25px;
    border-bottom: 1px solid #d9d9d9;
  }

  &__total-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__total-title {
    color: var(--color-grey);
  }

  &__total-price {
    color: var(--color-green);
    font-weight: 700;
    font-size: 31px;
    line-height: 1.2;
    text-align: right;
  }

  &__promo-wrapper {
    display: flex;
    grid-gap: 50px;
  }

  &__promo-applied {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 13px 94px;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.3;
    background-color: var(--color-green);
    border-radius: 4px;

    span {
      margin: 0 5px;
      text-transform: uppercase;
    }

    &.active {
      display: flex;
    }
  }

  &__promo {
    display: flex;
  }

  &__label {
    width: 220px;
  }

  &__promo-btn {
    margin-left: -4px;
    padding: 13px 28px;
  }

  &__pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }

  &__pay-btn {
    width: 370px;
  }

  &__shipping {
    margin-top: 80px;
  }

  &__shipping-text {
    margin-top: 20px;
  }

  @media (max-width: 1024px) {
    &__promo-wrapper {
      flex-direction: column-reverse;
      grid-gap: 15px;
    }

    &__promo-applied {
      padding: 13px;
    }
  }

  @media (max-width: 768px) {
    &__title-wrapper {
      .btn {
        display: none;
      }
    }

    &__total-title {
      font-size: 14px;

      &_hide {
        display: none;
      }
    }

    &__promo-wrapper {
      width: 100%;
    }

    &__promo-applied {
      font-size: 14px;
    }

    &__promo {
      width: 100%;
    }

    &__label {
      width: 100%;
    }

    &__total-price {
      font-size: 22px;
    }

    &__pay-comeback {
      display: none;
    }

    &__pay-btn {
      width: 100%;
    }

    &__shipping {
      margin-top: 40px;
    }

    &__shipping-text {
      margin-top: 31px;
    }
  }
}
