<template>
  <span>{{ text }} ₽</span>
</template>

<script>
export default {
  name: 'BaseRubles',
  props: {
    price: {
      type: Number,
      required: true,
    },
  },
  computed: {
    text() {
      return this.price
        .toString()
        .replace('.', ',')
        .replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, `$1 `);
    },
  },
};
</script>

<style scoped></style>
