<template>
  <div ref="mainNode" class="search-block" :aria-expanded="focused">
    <label class="search-block__inner">
      <input
        ref="inputNode"
        v-model="query"
        type="text"
        name="searchQuery"
        placeholder="Поиск"
        class="search-block__input js-search-input"
        aria-label="Поиск"
        @keydown.up.prevent="up"
        @keydown.down.prevent="down"
        @keydown.enter.prevent="enter"
        @focus="open"
      />
      <button class="btn search-block__btn">
        <!-- -->
      </button>
    </label>
    <div class="search-block__results">
      <div
        v-for="result of results"
        :key="result.id"
        class="search-block__item"
        :class="{ 'search-block__item_selected': result === activeElement }"
      >
        <a :href="result.link" class="search-block__img-wrapper a-clear">
          <img :src="result.image" :alt="result.name" />
        </a>
        <a :href="result.link" class="search-block__name a-clear">
          {{ result.name }}
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { inject, ref, defineComponent, watch, computed } from 'vue';
import { debounce } from 'lodash';
import { onClickOutside } from '@vueuse/core';
import { SearchResult, SearchService } from '../../lib/search/searchService';

export default defineComponent({
  name: 'SearchBox',
  props: {
    initialSearchInput: {
      type: String,
      default: null,
    },
  },
  setup(props) {
    const inputNode = ref<HTMLInputElement | null>(null);
    watch(inputNode, () => {
      if (inputNode.value) {
        inputNode.value.focus();
      }
    });

    const searchService = inject<SearchService>('searchService');
    const activeIndex = ref<number | null>(null);
    const query = ref(props.initialSearchInput);
    const results = ref<SearchResult[]>([]);

    const search = debounce(async (value: string) => {
      if (!searchService || !query.value) {
        return;
      }
      results.value = await searchService.search(value);
      activeIndex.value = null;
    }, 100);
    const activeElement = computed<SearchResult | null>(() => {
      if (activeIndex.value === null) {
        return null;
      }
      return results.value[activeIndex.value] ?? null;
    });
    watch(query, (value) => {
      search(value);
    });

    const up = () => {
      if (activeIndex.value === null || activeIndex.value <= 0) {
        activeIndex.value = null;
        return;
      }
      activeIndex.value -= 1;
    };
    const down = () => {
      if (activeIndex.value === null) {
        activeIndex.value = 0;
        return;
      }
      if (results.value.length > activeIndex.value + 1) {
        activeIndex.value += 1;
      } else {
        activeIndex.value = null;
      }
    };
    const enter = () => {
      const active = activeElement.value;
      if (active) {
        window.location.assign(active.link);
      }
    };

    const mainNode = ref<HTMLElement | null>(null);
    const focused = ref(false);
    onClickOutside(mainNode, () => {
      focused.value = false;
    });
    const open = () => {
      focused.value = true;
    };

    return {
      inputNode,

      query,
      search,
      results,

      activeElement,
      up,
      down,
      enter,

      focused,
      mainNode,
      open,
    };
  },
});
</script>
