.user-order {
  display: grid;
  grid-gap: 30px;

  &__info {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    padding: 20px;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    border-radius: 4px;
  }

  &__info-title {
    grid-column: 1/-1;
    font-weight: 700;
  }

  &__col {
    display: grid;
    grid-gap: 20px;
  }

  &__item {
    display: flex;
    align-items: flex-start;

    svg {
      flex-shrink: 0;
      margin-top: 3px;
      color: var(--color-green);
    }
  }

  &__text {
    margin-left: 10px;
  }

  &__track {
    color: var(--color-red);
    font-weight: 700;
    text-decoration-line: underline;
  }

  &__cards {
    display: grid;
    grid-gap: 30px;
  }

  @media (max-width: 768px) {
    grid-gap: 16px;

    &__info {
      padding: 16px;
    }

    &__cards {
      grid-gap: 16px;
    }
  }

  @media (max-width: 580px) {
    &__info {
      grid-gap: 16px;
      grid-template-columns: 1fr;
    }
  }
}
