.user-history {
  &__text {
    max-width: 500px;
    margin: 20px 0 30px;
    color: var(--color-grey);
  }

  &__link {
    color: var(--color-black);
    text-decoration: underline;
  }

  &__btn {
    padding: 13px 108px;
  }

  @media (max-width: 768px) {
    &__text {
      margin: 16px 0 24px;
      font-size: 14px;
    }
  }

  @media (max-width: 425px) {
    &__btn {
      width: 100%;
      padding: 13px;
    }
  }
}
