.user-add-address {
  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__inner {
    display: grid;
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }

  &__autocomplete {
    padding: 10px 15px;
    color: var(--color-black);
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #d9d9d9;
  }

  &__label {
    grid-column: 1/-1;
  }

  @media (max-width: 768px) {
    &__autocomplete {
      background-color: #e9e9e9;
      border: none;
      border-radius: 4px;
    }

    &__inner {
      grid-gap: 8px;
      margin-top: 16px;
    }

    &__double {
      grid-column: 1/-1;
    }

    &__btn {
      grid-column: 1/-1;
      margin-top: 8px;
    }
  }
}
