.user-sale {
  &__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 16px;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 16px;
    }
  }

  @media (max-width: 550px) {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
