.product-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #e9e9e9;
  border-radius: 4px;

  &__top {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-gap: 20px;
    justify-content: space-between;
    padding: 30px;
    background-color: #fdfdfd;
    border-radius: 4px;
  }

  &__title {
    font-weight: 500;
    font-size: 31px;
    line-height: 1.2;
  }

  &__subtitle-wrapper {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__watch {
    color: #828282;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }

  &__inner {
    position: relative;
    display: grid;
    grid-row-gap: 35px;
    grid-column-gap: 25px;
    grid-template-areas: 'prices prices prices' 'calculate cart buttons';
    grid-template-columns: auto 1fr auto;
  }

  &__prices {
    display: flex;
    grid-area: prices;
    grid-column: 1/-1;
  }

  &__price-wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__price {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;

    &_old {
      margin-right: 10px;
      color: var(--color-red);
      font-size: 20px;
      line-height: 1.3;
      text-decoration-line: line-through;
    }
  }

  &__profit {
    flex-grow: 1;
    color: var(--color-grey);
    font-size: 14px;
    text-align: right;
  }

  &__calculate {
    display: flex;
    grid-area: calculate;
  }

  &__buttons {
    display: flex;
    grid-area: buttons;
    grid-gap: 15px;
    align-items: center;
    justify-content: flex-end;
  }

  &__btn {
    &_type {
      &_cart {
        grid-area: cart;
        padding: 13px 25px;

        span {
          margin-left: 6px;
        }
      }

      &_share {
        padding: 0;
        color: #797979;
        border: 1px solid transparent;
        transition: border-color 0.3s, color 0.3s;

        &:hover {
          color: var(--color-black);
          border-color: #797979;
        }
      }
    }

    svg {
      flex-shrink: 0;
    }
  }

  &__bottom {
    padding: 30px;
  }

  &__bottom-item {
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  &__bottom-title {
    display: flex;
    align-items: center;

    svg {
      color: var(--color-green);
    }

    span {
      margin-left: 8px;
      font-weight: 700;
    }
  }

  &__bottom-desc {
    margin-top: 10px;
    color: #797979;
    font-size: 14px;

    span {
      font-weight: 700;
    }
  }

  @media (max-width: 1024px) {
    &__inner {
      grid-row-gap: 25px;
      grid-column-gap: 16px;
      grid-template-areas: 'prices prices' 'calculate cart';
      grid-template-columns: auto 1fr;
    }

    &__prices {
      flex-direction: column;
    }

    &__price-wrapper {
      margin-right: 70px;
    }

    &__price {
      font-size: 22px;

      &_old {
        font-size: 14px;
      }
    }

    &__profit {
      display: flex;
      grid-gap: 8px;
      margin-top: 8px;
      text-align: left;
    }

    &__buttons {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @media (max-width: 768px) {
    &__top,
    &__bottom {
      padding: 15px;
    }

    &__title {
      font-size: 22px;
    }

    &__bottom-title {
      font-size: 14px;
    }

    &__bottom-desc {
      font-size: 12px;
    }
  }

  @media (max-width: 600px) {
    grid-gap: 20px;
    background-color: transparent;

    &__top {
      padding: 0;
      background-color: transparent;
      border-radius: 0;

      .calculate {
        --bg-color: #fff;
      }
    }

    &__watch {
      display: none;
    }

    &__btn {
      &_type {
        &_favorite {
          background-color: transparent;
        }

        &_cart {
          justify-self: flex-end;
          max-width: 200px;
        }
      }
    }

    &__bottom {
      padding: 0;
    }
  }
}
