.product-block {
  margin-top: 20px;
  margin-bottom: 80px;

  &__top {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: minmax(0, 1fr) 1fr;
    margin-top: 40px;
  }

  &__slider-wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 67px minmax(0, 1fr);
  }

  &__slider-thumbs {
    max-height: 800px;
    contain: size;

    .swiper {
      max-height: 100%;
    }
  }

  &__slider-main {
    //display: flex;
  }

  &__main-slide {
    display: flex;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
      //object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__thumb-slide {
    display: flex;
    max-width: 67px;
    opacity: 0.75;

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
      border-radius: 4px;
      cursor: pointer;
    }

    &.swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  &__tabs {
    margin-top: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
  }

  &__photo-video {
    margin-top: 20px;
  }

  &__btn-show {
    justify-content: flex-start;
    margin-top: auto;
    padding: 0;
    color: var(--color-red);
    font-weight: 400;
    font-size: 14px;
    text-decoration-line: underline;
  }

  &__subtitle {
    margin-top: 15px;
    color: var(--color-grey);
    font-size: 14px;
  }

  &__content {
    display: grid;
    padding: 30px;
    background-color: #fdfdfd;
    border-radius: 4px;

    &_type {
      &_about {
        grid-gap: 25px;
        grid-template-columns: 171px 1fr;

        .product-block__desc {
          grid-row: 1/3;
          grid-column: 2/-1;
        }
      }

      &_specification {
        grid-gap: 25px;
        grid-template-columns: 278px 1fr;
      }

      &_how-to-plant,
      &_recommendations {
        grid-gap: 20px;
      }

      &_reviews {
        display: block;
        padding: 0;
        column-count: 2;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }

  &__review {
    margin-bottom: 25px;
    break-inside: avoid;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__reviews-btn-wrapper {
    margin-top: 25px;
    text-align: center;

    .btn {
      padding: 13px 38px;
    }
  }

  &__feedback {
    margin-top: 80px;
  }

  @media (max-width: 1024px) {
    &__slider-wrapper {
      grid-template-areas: 'main' 'thumbs';
      grid-template-columns: minmax(0, 1fr);
    }

    &__slider-main {
      grid-area: main;
    }

    &__slider-thumbs {
      grid-area: thumbs;
      contain: none;

      .swiper {
        max-height: none;
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 12px;
    margin-bottom: 40px;

    &__top {
      grid-gap: 10px;
      margin-top: 15px;
    }

    &__title {
      font-size: 22px;
    }

    &__subtitle {
      margin-top: 12px;
      font-size: 12px;
    }

    &__content {
      padding: 16px;

      &_type {
        &_about {
          grid-gap: 12px;
          grid-template-columns: 1fr;

          .product-block__desc {
            grid-row: auto;
            grid-column: auto;
          }
        }

        &_specifications {
          grid-gap: 16px;
          grid-template-columns: 1fr;
        }

        &_reviews {
          column-count: 1;
        }
      }
    }

    &__review {
      margin-bottom: 16px;
    }
  }

  @media (max-width: 600px) {
    &__top {
      grid-gap: 24px;
      grid-template-columns: minmax(0, 1fr);
    }
  }

  @media (max-width: 425px) {
    &__reviews-btn-wrapper {
      margin-top: 16px;

      .btn {
        width: 100%;
        padding: 13px;
      }
    }
  }
}
