.base-checkbox {
  display: inline-flex;
  align-items: center;
  color: var(--color-grey);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;

  &__text {
    margin-left: 6px;
  }

  &__input {
    --active: #98c33b;
    --active-inner: #fff;
    --input-border: #d9d9d9;
    --input-border-hover: #98c33b;
    --background: #fff;
    --disabled: #f5f9ff;
    --disabled-inner: #e4ecfa;
    --shadow-inner: rgba(18, 22, 33, 0.1);

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    margin: 0;
    padding: 0;
    background: var(--background);
    border: 1px solid var(--input-border);
    outline: none;
    box-shadow: none;
    cursor: pointer;
    transition: background 0.3s ease, border-color 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::after {
      position: absolute;
      display: block;
      transition: transform 0.3s ease, opacity 0.2s ease, filter 0.3s ease;
      content: '';
    }

    &:not(.switch) {
      min-width: 16px;
      height: 16px;

      &::after {
        opacity: 0;
      }
    }

    &:disabled {
      background: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }

    &:checked {
      background: var(--active);
      border-color: var(--active);

      &::after {
        filter: drop-shadow(0 1px 2px var(--shadow-inner));
        transition: opacity 0.3s ease, filter 0.3s ease,
          transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
      }

      &:disabled {
        background: var(--disabled-inner);
        border-color: var(--input-border);
      }

      &:not(.switch) {
        &::after {
          opacity: 1;
        }
      }
    }

    &:hover:not(:checked):not(:disabled) {
      border-color: var(--input-border-hover);
    }

    &[type='checkbox'] {
      &:not(.switch) {
        border-radius: 4px;

        &::after {
          top: 1px;
          left: 4px;
          width: 5px;
          height: 9px;
          border: 1px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          transform: rotate(20deg);
        }

        &:checked {
          &::after {
            transform: rotate(43deg);
          }
        }
      }

      &.switch {
        width: 38px;
        border-radius: 11px;

        &::after {
          top: 2px;
          left: 2px;
          width: 15px;
          height: 15px;
          background: var(--input-border);
          border-radius: 50%;
        }

        &:checked {
          &::after {
            background: var(--active-inner);
            transform: translateX(17px);
          }
        }

        &:disabled {
          &:not(:checked) {
            &::after {
              opacity: 0.6;
            }
          }
        }
      }
    }

    &[type='radio'] {
      border-radius: 50%;

      &::after {
        width: 19px;
        height: 19px;
        background: var(--active-inner);
        border-radius: 50%;
        transform: scale(0.7);
        opacity: 0;
      }

      &:checked {
        &::after {
          background: var(--active-inner);
          transform: scale(0.5);
        }
      }
    }
  }
}
