.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 13px 20px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:focus-visible {
    outline: 1px solid var(--color-black);
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &_type {
    &_primary {
      background-color: var(--color-green);
    }

    &_secondary {
      background-color: var(--color-red);
    }

    &_additional {
      color: var(--color-green);
      font-weight: 400;
      background-color: transparent;
      border: 1px solid var(--color-green);
    }

    &_cancel {
      color: #828282;
      font-weight: 500;
      background-color: #e0e0e0;
    }
  }

  @media (hover: hover) {
    &_type {
      &_primary {
        &:hover {
          background-color: darken(#98c33b, 7%);
        }
      }

      &_secondary {
        &:hover {
          background-color: darken(#e03232, 7%);
        }
      }

      &_additional {
        &:hover {
          color: #fff;
          background-color: var(--color-green);
        }
      }
    }
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
