:root {
  --sticky-header-height: 75px;
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--sticky-header-height) 0 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-size: 17px;
  font-family: var(--font-family-main);
  line-height: 1.3;
  background-color: var(--color-bg-grey);
}

@media screen and (max-width: 768px) {
  :root {
    --sticky-header-height: 60px;
  }
}
