@font-face {
  font-weight: 400;
  font-family: 'Acrom';
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Acrom-Regular.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-family: 'Acrom';
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Acrom-Medium.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Acrom';
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Acrom-Bold.woff') format('woff');
}

@font-face {
  font-weight: 800;
  font-family: 'Acrom';
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Acrom-ExtraBold.woff') format('woff');
}
