.title {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-weight: 700;
  line-height: 1.2;

  &_type {
    &_primary {
      color: var(--title-color-primary);
      font-size: 31px;
    }

    &_secondary {
      font-weight: 500;
      font-size: 24px;
    }

    &_third {
      font-weight: 500;
      font-size: 17px;
    }
  }

  @media (max-width: 768px) {
    &_type {
      &_primary {
        font-size: 22px;
      }

      &_secondary {
        font-size: 18px;
      }

      &_third {
        font-size: 16px;
      }
    }
  }
}
