.wrapper {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: minmax(0, 1fr);

  &_green {
    --title-color-primary: #fff;
    --title-color-secondary: #dfff9e;

    padding: 80px 0;
    background-color: var(--color-bg-green);
  }

  &_grey {
    margin: 80px 0;
    background-color: var(--color-bg-grey);
  }

  @media (max-width: 768px) {
    grid-gap: 40px;

    &_green {
      padding: 40px 0;
    }

    &_grey {
      margin: 40px 0;
    }
  }
}
