.footer-menu {
  columns: 2;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: block;
    color: var(--color-grey);
    font-size: 15px;

    &:hover {
      color: var(--color-black);
    }
  }

  @media (max-width: 768px) {
    columns: 1;

    &__item {
      padding: 16px 0;
      border-top: 1px solid #e9e9e9;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__link {
      font-size: 16px;
    }
  }
}
