.footer {
  background-color: #fff;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);

  &__container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 40px 0 50px;
  }

  &__logo {
    display: block;

    img {
      max-width: 156px;
      height: auto;
    }
  }

  &__your-town {
    display: none;
  }

  &__menu {
    //
  }

  &__sub-menu {
    display: none;
    padding-left: 20px;

    & > .footer__menu-item {
      margin-top: 14px;
      padding: 0;
      border: none;
    }
  }

  &__sub-menu-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;

    &::after {
      position: absolute;
      right: 0;
      display: inline-block;
      padding: 3px;
      border: solid var(--color-grey);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition: 0.3s;
    }

    &.active {
      &::after {
        transform: rotate(-135deg);
      }

      .footer__sub-menu {
        display: block;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__contact-item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__contact-icon {
    min-width: 16px;
    margin-top: 6px;
    margin-right: 11px;
    color: var(--color-green);
  }

  &__contact-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    transition: color 0.3s;

    &:not(&_hours):hover {
      color: var(--color-green);
    }
  }

  &__socials {
    grid-area: socials;
    margin-top: 7px;
  }

  &__bottom {
    padding: 19px 0;
    background-color: var(--color-bg-grey);
  }

  &__bottom-container {
    display: flex;
    font-size: 14px;
    line-height: 1.3;
  }

  &__bottom-company {
    flex-grow: 1;
    margin-right: 15px;
    color: #aaa;
  }

  @media (max-width: 768px) {
    &__container {
      grid-gap: 25px;
      grid-template-areas: 'logo-wrapper' 'contact' 'menu';
      grid-template-columns: 1fr;
      padding: 32px 0 20px;
    }

    &__logo-wrapper {
      display: flex;
      grid-area: logo-wrapper;
      align-items: center;
      justify-content: space-between;
    }

    &__your-town {
      display: block;
    }

    &__contact {
      grid-area: contact;
    }

    &__contact-item {
      display: none;
    }

    &__contact-phone {
      display: flex;
    }

    &__contact-text {
      font-weight: 500;
      font-size: 18px;
    }

    &__menu {
      grid-area: menu;
    }

    &__sub-menu-link {
      &::after {
        content: '';
      }
    }

    &__socials-item {
      width: 40px;
      height: 40px;

      svg {
        width: 25px;
        height: 25px;
      }
    }

    &__bottom {
      padding: 24px 0 100px;
      background-color: #f8f8f8;
    }

    &__bottom-container {
      flex-direction: column;
    }

    &__bottom-company {
      margin-right: 0;
    }

    &__bottom-link {
      margin-top: 16px;
      margin-right: 0;
    }
  }

  @media (max-width: 375px) {
    &__logo {
      img {
        max-width: 100px;
      }
    }
  }
}
