.footer-bottom-links {
  display: flex;

  &__item {
    margin-right: 80px;
  }

  &__link {
    text-decoration-line: underline;
    color: var(--color-grey);

    &:hover {
      color: var(--color-black);
    }
  }

  @media (max-width: 768px) {
    display: block;

    &__item {
      margin-top: 16px;
      margin-right: 0;
    }
  }
}
