.header-top {
  color: var(--color-grey);
  font-weight: 400;
  font-size: 14px;
  transition: color 0.3s;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 0;
  }

  &__login-wrapper {
    display: flex;
    grid-gap: 11px;
    font-weight: 700;
  }

  &__log {
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;

    &_type {
      &_in {
        color: var(--color-red);

        &:hover {
          color: darken(#e03232, 10%);
        }
      }

      &_registration {
        color: var(--color-green);

        &:hover {
          color: darken(#98c33b, 10%);
        }
      }
    }
  }

  &__user-divider {
    width: 1px;
    height: 18px;
    background-color: #aaa;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
