.header-top-more-menu {
  grid-gap: 15px;

  &__item {
    white-space: nowrap;

    &.active {
      color: var(--color-green);
    }

    &:not(.active):hover {
      color: var(--color-black);
    }
  }
}
