.header-bottom {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border: 0.5px solid #e9e9e9;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);

  &__container {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 13px 0;
  }

  &__catalog-btn {
    display: flex;
    height: 100%;
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 21px 0 16px;

    img {
      max-width: 156px;
      height: auto;
    }
  }

  &__tel {
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
  }

  &__favorite {
    margin: 0 15px 0 30px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
