.header-top-menu {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--color-black);
    }
  }
}
