.header-basket {
  --font-color: var(--color-red);
  --bg-color: #fff;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 13px 15px;
  color: var(--font-color);
  font-weight: 700;
  font-size: 17px;
  background-color: var(--bg-color);
  border: 1px solid var(--font-color);
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 20px;
    height: 20px;
    margin-left: 16px;
    padding: 2px 4px;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    background: var(--color-red);
    border-radius: 4px;
  }

  &:hover {
    color: darken(#e03232, 8%);
    border-color: darken(#e03232, 8%);
  }

  @media screen and (max-width: 768px) {
    &__count {
      position: absolute;
      top: -8px;
      right: -10px;
      min-width: 15px;
      height: auto;
      margin: 0;
      padding: 2px 2px 3px;
      font-size: 8px;
    }
  }
}
