<template>
  <vue-select
    v-if="cities.length > 0"
    :model-value="city"
    searchable
    close-on-select
    clear-on-select
    :options="cities"
    class="text-field order__delivery-city-select"
    @update:model-value="updateValue"
  />
</template>

<script lang="ts">
import { defineComponent, inject, Prop, ref } from 'vue';
import VueNextSelect from 'vue-next-select';
import { PickUpPointsService } from '../../../../lib/pick-up-points/pick-up-points';

export default defineComponent({
  name: 'PickupPointsForm',
  components: {
    VueSelect: VueNextSelect,
  },
  props: {
    city: {
      validator: (v) => typeof v === 'string' || v === null,
      required: true,
    } as Prop<string | null>,
  },
  emits: ['update:city'],
  setup(props, { emit }) {
    const pickUpPointsService = inject<PickUpPointsService>(
      'pickUpPointsService'
    );
    if (!pickUpPointsService) {
      throw new Error('Required services are not provided');
    }
    const cities = ref<string[]>([]);

    pickUpPointsService.getCities().then((data) => {
      cities.value = data;
    });

    const updateValue = (value: string) => {
      emit('update:city', value);
    };

    return {
      cities,
      updateValue,
    };
  },
});
</script>
