<template>
  <yandex-map
    v-if="center"
    v-bind="$attrs"
    ref="map"
    :settings="mapSettings"
    :controls="mapControls"
    :coords="center"
    :zoom="15"
    :show-all-markers="showAllMarkers"
  >
    <ymap-marker
      v-for="point of points"
      :key="point.id"
      :marker-id="point.id"
      :coords="[point.lat, point.lng]"
      cluster-name="point"
      :icon="point === selectedPoint ? { color: 'red' } : {}"
      @click="openPickUpPoint(point)"
    />
  </yandex-map>
  <fancy-modal ref="modalRef" @close="removedOpenedPoint">
    <div v-if="openedPoint">
      <div>{{ openedPoint.name }}</div>
      <div>{{ openedPoint.address }}</div>
      <div>{{ openedPoint.addressComment }}</div>
      <div>{{ openedPoint.workTime }}</div>
      <button @click="selectPoint(openedPoint)">Выбрать</button>
    </div>
  </fancy-modal>
</template>

<script lang="ts">
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import { yandexMap, ymapMarker } from 'vue-yandex-maps';
import {
  computed,
  defineComponent,
  inject,
  Prop,
  PropType,
  ref,
  watch,
} from 'vue';
import FancyModal from '../../../../fancybox-vue/components/FancyModal.vue';
import { Point } from '../../../../lib/pick-up-points/types';
import { PickUpPointsService } from '../../../../lib/pick-up-points/pick-up-points';

const mapSettings = {
  apiKey: '',
  lang: 'ru_RU',
  coordorder: 'latlong',
  enterprise: false,
  version: '2.1',
};

const mapControls = ['typeSelector', 'zoomControl'];

export default defineComponent({
  name: 'PickUpPointsMap',
  components: {
    FancyModal,
    yandexMap,
    ymapMarker,
  },
  inheritAttrs: false,
  props: {
    city: {
      validator: (v) => typeof v === 'string' || v === null,
      required: true,
    } as Prop<string | null>,

    modelValue: {
      type: Number as PropType<number | null>,
      default: null,
    },
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const pickUpPointsService = inject<PickUpPointsService>(
      'pickUpPointsService'
    );

    if (!pickUpPointsService) {
      throw new Error('Required services are not provided');
    }

    const modalRef = ref<InstanceType<typeof FancyModal> | null>(null);

    const openedPoint = ref<Point | null>(null);

    const points = ref<Point[]>([]);

    const selectedPoint = computed(() =>
      points.value.find(({ id }) => id === props.modelValue)
    );

    const showAllMarkers = computed(
      () => !selectedPoint.value && points.value.length > 1
    );

    const center = computed(() => {
      if (selectedPoint.value) {
        return [selectedPoint.value.lat, selectedPoint.value.lng];
      }
      if (points.value.length > 0) {
        return [points.value[0].lat, points.value[0].lng];
      }
      return null;
    });

    watch(
      () => props.city,
      async (value) => {
        if (value) {
          points.value = [];
          points.value = await pickUpPointsService.getPoints(value);
        }
      },
      {
        immediate: true,
      }
    );

    watch(openedPoint, (value) => {
      if (value) {
        if (modalRef.value) {
          modalRef.value?.open();
        }
      }
    });

    return {
      modalRef,

      points,
      center,
      selectedPoint,
      showAllMarkers,

      mapSettings,
      mapControls,
      openedPoint,

      openPickUpPoint(point: Point) {
        openedPoint.value = point;
      },

      removedOpenedPoint() {
        openedPoint.value = null;
      },

      selectPoint(point: Point) {
        emit('update:modelValue', point.id);
        if (modalRef.value) {
          modalRef.value?.close();
        }
      },
    };
  },

  methods: {},
});
</script>
