.account {
  position: relative;
  display: flex;
  align-items: center;

  &__triangle-icon {
    margin-left: 8px;
  }

  &__inner {
    position: absolute;
    top: 31px;
    right: 0;
    z-index: 11;
    display: none;
    width: 270px;
  }

  &__btn {
    padding: 0;
    color: var(--color-black);
    font-weight: 700;
    font-size: 14px;

    &.active .account__triangle-icon {
      transform: rotate(180deg);
    }

    &.active + .account__inner {
      display: block;
    }
  }

  &__user-icon {
    margin-right: 10px;
    color: var(--color-green);
  }
}
