.aside-btn {
  position: fixed;
  bottom: 30px;
  z-index: 20;
  display: none;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  padding: 0;
  background-color: var(--color-green);

  svg {
    transform: rotate(95deg);
  }

  &.active {
    display: flex;
  }
}
