.availability {
  &__stock {
    display: flex;
    align-items: center;
    font-size: 14px;

    &_in {
      color: var(--color-green);
    }

    &_out {
      color: var(--color-red);
    }

    svg {
      flex-shrink: 0;
    }
  }

  &__text {
    margin-left: 4px;
  }
}
