.base-tabs {
  &__menu {
    display: flex;
    grid-gap: 60px;
    align-items: flex-end;
    border-bottom: 2px solid #e9e9e9;
  }

  &__menu-btn {
    position: relative;
    padding: 0 0 10px;
    color: var(--color-grey);
    font-weight: 500;

    &:hover {
      color: var(--color-black);
    }

    &[aria-selected='true'] {
      color: var(--color-green);

      &::after {
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        border-bottom: 2px solid var(--color-green);
        content: '';
      }
    }
  }

  &__content {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    &__nav {
      width: auto;
      padding-bottom: 4px;
      overflow-x: scroll;
    }

    &__menu {
      grid-gap: 40px;
    }

    &__menu-item {
      white-space: nowrap;
    }

    &__content {
      margin-top: 16px;
    }
  }

  @media (max-width: 425px) {
    &__menu {
      grid-gap: 24px;
    }
  }
}
