.base-checkbox {
  display: inline-flex;
  align-items: center;
  color: var(--color-grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  &__text {
    margin-left: 6px;

    a {
      color: var(--color-black);
      text-decoration: underline;
    }
  }
}
