.btn-arrows {
  display: flex;
  justify-content: center;

  &__item {
    position: absolute;
    contain: strict;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    color: var(--color-green);
    background-color: #fff;
    border: 0.5px solid #e9e9e9;
    border-radius: 4px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

    &_next {
      svg {
        transform: rotate(180deg);
      }
    }

    &.swiper-button-disabled {
      color: #aaa;
    }
  }

  @media (hover: hover) {
    &__item {
      &:hover {
        color: #fff;
        background-color: var(--color-green);
        border-color: transparent;
      }
    }
  }
}
