.calculate {
  --bg-color: #f3f3f3;

  display: inline-flex;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 4px;

  &__btn {
    height: 100%;
    padding: 13px;
    color: var(--color-green);

    &_minus {
      color: var(--color-red);
    }
  }

  &__input {
    max-width: 48px;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    background-color: transparent;
    border: 1px solid #aaa;
    border-top: none;
    border-bottom: none;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  @media (max-width: 768px) {
    &__input {
      max-width: 36px;
      font-size: 14px;
    }
  }
}
