.card-order {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 70px 120px 180px;
  align-items: center;
  box-sizing: border-box;
  padding: 25px 20px 25px 25px;
  background-color: #fdfdfd;
  border: 0.5px solid #e9e9e9;
  border-radius: 4px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  }

  &__address-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 17px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    color: var(--color-grey);
    font-size: 14px;
    text-decoration-line: underline;

    &:hover {
      color: var(--color-red);
    }

    svg {
      margin-left: 10px;
    }
  }

  &__count {
    text-align: center;
  }

  &__price {
    font-weight: 800;
    text-align: center;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    text-align: right;

    svg {
      flex-shrink: 0;
      margin-right: 4px;
    }

    &_paid {
      color: var(--color-green);
    }

    &_delivery {
      color: #f2994a;
    }

    &_fail {
      color: var(--color-red);
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 60px 90px 150px;
    padding: 16px;

    &__address-wrapper {
      font-size: 14px;
    }

    &__count {
      font-size: 14px;
    }

    &__price {
      font-size: 14px;
    }

    &__status {
      font-size: 12px;
    }
  }

  @media (max-width: 600px) {
    grid-gap: 8px;
    grid-template-areas: 'address status' 'address count' 'address price';
    grid-template-columns: 170px 1fr;
    align-items: flex-start;

    &__address-wrapper {
      grid-area: address;
    }

    &__status {
      grid-area: status;
    }

    &__count {
      grid-area: count;
      margin-top: 28px;
      text-align: right;
    }

    &__price {
      grid-area: price;
      text-align: right;
    }
  }

  @media (max-width: 375px) {
    &__address-wrapper {
      font-size: 12px;
    }

    &__count {
      font-size: 12px;
    }

    &__status {
      font-size: 10px;
    }
  }
}
