.cart-btn {
  padding: 8px 20px;
  color: var(--color-red);
  border: 1px solid var(--color-red);

  @media (hover: hover) {
    &:hover {
      color: #fff;
      background-color: var(--color-red);
      box-shadow: 0 15px 30px rgba(224, 50, 50, 0.4);
    }
  }
}
