.catalog-item {
  --name-color: var(--color-black);
  --name-bg-color: #fff;

  overflow: hidden;
  background-color: #fff;
  border: 0.5px solid #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);

  &__img-wrapper {
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    color: var(--name-color);
    font-weight: 700;
    font-size: 17px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--name-bg-color);
    transition: color 0.3s, background-color 0.3s;
  }

  @media (hover: hover) {
    &__link {
      &:hover {
        --name-color: #fff;
        --name-bg-color: var(--color-green);
      }
    }
  }

  @media (max-width: 768px) {
    &__link {
      padding: 15px;
      font-size: 14px;
    }
  }
}
