.come-back {
  display: flex;
  align-items: center;
  color: #aaa;
  font-size: 14px;

  span {
    margin-left: 4px;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-black);
    }
  }

  @media (max-width: 375px) {
    font-size: 12px;
  }
}
