.details {
  &__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    svg {
      color: #aaa;
      transform: rotate(-90deg);
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__item {
    color: var(--color-grey);
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid #e9e9e9;
    }

    &[open] {
      .details__summary {
        color: var(--color-green);
      }

      svg {
        color: var(--color-green);
        transform: rotate(90deg);
      }
    }
  }

  &__content {
    font-size: 14px;
  }

  &__icon {
    padding: 4px;
  }
}
