.fancy-login {
  &:not(.class-to-increase-specificity) {
    padding: 0;
    overflow: hidden;
    border-radius: 4px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 20px;
    border-radius: 4px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }

  &__subtitle {
    margin-top: 14px;
    color: var(--color-grey);
    font-size: 14px;
    text-align: center;

    a {
      color: var(--color-black);
      text-decoration: underline;
    }
  }

  &__input-wrapper {
    display: grid;
    grid-gap: 20px;
    margin-top: 24px;
  }

  &__checkbox {
    margin-top: 15px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    background-color: #f3f3f3;
  }

  &__btn {
    &_come-in {
      margin-top: 16px;
    }
  }

  &__come-in {
    color: var(--color-grey);
    font-size: 14px;
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    border-radius: 4px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__forgot {
    margin-top: 15px;
    color: var(--color-grey);
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
  }

  &__link {
    padding: 0;
    color: var(--color-black);
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
  }

  &__back {
    margin-top: 16px;
    color: var(--color-grey);
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    text-decoration-line: underline;
  }

  @media (max-width: 425px) {
    &__btn {
      width: 100%;
    }
  }
}
