.fancy-towns {
  box-sizing: border-box;
  width: 600px;
  max-width: 90vw;
  padding: 30px;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
  }

  &__input {
    margin-top: 20px;
  }

  &__list {
    gap: 20px;
    margin-top: 20px;
    columns: 130px;
  }

  &__item {
    margin-bottom: 18px;
    color: var(--color-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    white-space: nowrap;
  }

  &__link {
    &:hover {
      color: #4a4a4a;
    }

    &_active {
      color: #98c33b;
    }
  }

  @media (max-width: 768px) {
    &__group {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 375px) {
    padding: 15px;

    &__group {
      grid-gap: 12px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      margin-bottom: 12px;
    }
  }
}
