.filter-card {
  &:not(.class-for-increase-specificity) {
    padding: 0;
  }

  &__inner {
    padding: 16px 16px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
  }

  &__reset {
    margin-top: 16px;
    padding: 0;
    color: #797979;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-decoration-line: underline;
  }

  &__footer {
    display: flex;
    grid-gap: 16px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    box-shadow: 0 -15px 60px rgba(0, 0, 0, 0.05);
  }

  &__btn {
    width: 100%;
    padding: 11px;
  }
}
