.filters {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 17px;
    background: #a4c067;
    border: 0.5px solid transparent;
    border-radius: 4px 4px 0 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  &__main {
    display: grid;
    grid-gap: 12px;
    padding: 15px 20px;
    border-bottom: 1px solid #e9e9e9;
  }

  &__item {
    padding: 15px 20px;

    &:not(:last-child) {
      border-bottom: 1px solid #e9e9e9;
    }
  }

  &__title,
  &__summary {
    font-weight: 500;
    font-size: 14px;
  }

  &__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__icon {
    color: #e9e9e9;

    &_plus {
      color: var(--color-green);
    }

    &_minus {
      display: none;
    }
  }

  &__details {
    &[open] {
      .filters__icon_minus {
        display: block;
      }

      .filters__icon_plus {
        display: none;
      }
    }
  }

  &__range-inputs {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &::after {
      position: absolute;
      width: 11px;
      height: 1px;
      background-color: #d9d9d9;
      content: '';
    }
  }

  &__fields {
    display: grid;
    grid-gap: 12px;
    margin-top: 12px;
  }

  &__label {
    margin-left: 6px;
    color: var(--color-grey);
    font-size: 14px;

    &:hover {
      color: var(--color-black);
    }
  }

  &__input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }

    &[type='number'] {
      position: relative;
      padding: 7px 10px;

      &:first-child {
        margin-right: 21px;
      }
    }

    &:checked {
      & + .filters__label {
        color: var(--color-black);
      }
    }

    &:disabled {
      & + .filters__label {
        color: #aaa;
      }
    }
  }

  &__field {
    display: flex;
    align-items: center;
  }

  &__range {
    margin: 12px 0;
  }

  &_type {
    &_mobile {
      .filters {
        &__inner {
          background-color: transparent;
          border: none;
        }

        &__main {
          padding: 16px 0;
        }

        &__item {
          padding: 16px 0;
        }
      }
    }
  }
}
