.filter-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  background-color: #fdfdfd;
  border: 0.5px solid #e9e9e9;
  border-radius: 4px;

  &__order-btn {
    margin: 0;
    padding: 0;
    color: #797979;
    font-weight: 400;
    font-size: 14px;

    span {
      margin-left: 8px;
    }

    svg {
      flex-shrink: 0;
      color: var(--color-green);
    }

    &_rotate {
      svg {
        transform: scale(-1, 1);
      }
    }

    &.active {
      color: var(--color-black);
    }

    &:hover {
      color: var(--color-black);
    }

    &.mobile-show {
      display: none;
    }
  }

  &__btn-group {
    display: flex;

    &_first {
      flex-wrap: nowrap;
      grid-gap: 30px;
    }

    &_second {
      grid-gap: 12px;
      justify-content: flex-end;
    }
  }

  &__filter-btn {
    display: none;
    padding: 13px;
  }

  &__btn {
    padding: 0;
    color: #d9d9d9;

    &.active {
      color: #a4c067;
    }

    @media (hover: hover) {
      &:hover {
        color: #a4c067;
      }
    }
  }

  @media (max-width: 768px) {
    &_show {
      &_filter {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 0;
        padding-bottom: 0;

        .filter-bar__filter-btn {
          display: flex;
        }
      }
    }

    &__order-btn {
      &_down {
        display: none;
      }

      &.mobile-show {
        display: flex;
      }
    }

    &__btn-wrapper {
      flex-grow: 0;
    }

    .mobile-hide {
      display: none;
    }
  }
}
