.labels {
  display: flex;
  justify-content: space-between;

  &__favorite {
    max-height: 28px;
    margin-left: auto;
    padding: 7px;
    background-color: var(--color-green);
    border-radius: 4px;
  }

  &__item {
    --text-color: var(--color-grey);
    --bg-color: #fff;

    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 5px 6px;
    color: var(--text-color);
    font-weight: 800;
    font-size: 12px;
    line-height: 1.3;
    background-color: var(--bg-color);
    border-radius: 4px;

    &_promotion {
      --text-color: #98c33b;
      --bg-color: #e1ffbb;
    }

    &_bestseller {
      --text-color: #d48000;
      --bg-color: #ffe6c0;
    }

    &_new {
      --text-color: #0088d4;
      --bg-color: #cdedff;
    }
  }
}
