.mobile-hide-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;
  transform: translateY(-220px);

  &_type {
    &_menu,
    &_basket {
      display: block;
      visibility: hidden;
      transition: opacity 0.4s ease-in, transform 0.4s ease-in,
        visibility 0.4s step-end;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 6;
        background-color: #000;
        opacity: 0;
        content: '';
      }

      &.active {
        transform: translateY(58px);
        visibility: visible;
        transition: opacity 0.4s ease-in, transform 0.4s ease-in,
          visibility 0.4s step-start;

        &::after {
          opacity: 0.5;
        }
      }
    }
  }

  &__wrapper {
    position: relative;
    z-index: 7;
    box-sizing: border-box;
    background-color: #fdfdfd;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.06);
  }

  &__inner {
    padding: 0 16px;
    border: 0.5px solid #e9e9e9;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 0;
  }

  &__header-text {
    color: #333;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
  }

  &__close {
    padding: 0;
    color: #aaa;
  }

  &__item {
    padding: 16px 0;
    border-top: 1px solid #e9e9e9;
  }

  &__menu-item {
    color: var(--color-grey);
    font-size: 16px;
    line-height: 1.3;
  }

  &__card {
    display: flex;
    align-items: center;
  }

  &__image-wrapper {
    display: flex;
    flex-shrink: 0;
    margin-right: 16px;
    overflow: hidden;
    border-radius: 4px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
  }

  &__name {
    color: #333;
  }

  &__quantity {
    color: #828282;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    text-align: right;
  }

  &__price {
    color: #4a4a4a;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.3;

    &_old {
      color: #e03232;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.3;
      text-decoration-line: line-through;
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #828282;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }

  &__total-price {
    color: #4a4a4a;

    b {
      font-weight: 800;
    }
  }

  &__buttons {
    position: relative;
    z-index: 7;
    display: flex;
  }

  &__button {
    width: 100%;
    border-radius: 0;
  }
}
