.our-socials {
  --social-color: var(--color-bg-grey);

  display: flex;
  grid-gap: 16px;
  align-items: center;

  &_white {
    --social-color: var(--color-bg-white);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--social-color);
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(#f3f3f3, 7%);
    }
  }
}
