.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    display: flex;
  }

  &__item {
    margin-right: 15px;

    &_prev {
      margin-right: 25px;
    }

    &_next {
      margin-left: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    padding: 0;
    color: #aaa;
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &_next {
      svg {
        transform: rotate(180deg);
      }
    }

    &:not(.pagination__page_current):hover {
      color: var(--color-green);
      border-color: var(--color-green);
    }
  }

  &__page {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 14px;

    &_current {
      color: #fdfdfd;
      background-color: var(--color-green);
      border-color: var(--color-green);
    }
  }

  @media (max-width: 980px) {
    .mobile-hide {
      display: none;
    }
  }

  @media (max-width: 480px) {
    &__btn {
      width: 40px;
      height: 40px;
      font-size: 12px;
    }

    &__item {
      margin-right: 10px;

      &_prev {
        margin-right: 15px;
      }

      &_next {
        margin-left: 5px;
      }

      &_start,
      &_end {
        display: none;
      }
    }
  }
}
