.photo-video {
  &__title {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.6;
  }

  &__inner {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    margin-top: 15px;
  }

  &__img {
    display: flex;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 14px;
    }

    &__inner {
      grid-gap: 9px;
      grid-template-columns: repeat(auto-fill, minmax(172px, 1fr));
      margin-top: 8px;
    }
  }
}
