.product-card-row {
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }

  &__container {
    display: flex;
    box-sizing: border-box;
    min-height: 120px;
  }

  &__img-wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 4px 0 0 4px;

    img {
      max-width: 120px;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__inner {
    position: relative;
    display: grid;
    grid-gap: 40px;
    width: 100%;
    padding: 24px 25px 24px 20px;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    border-left: none;
    border-radius: 0 4px 4px 0;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  &__name-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: name;
    justify-content: center;
  }

  &__count {
    span {
      margin-right: 4px;
      color: var(--color-grey);
    }
  }

  &__availability {
    margin-top: 4px;
  }

  &__rating-count {
    margin-left: 4px;
    color: #aaa;
    font-weight: 400;
    font-size: 14px;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    color: var(--color-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }

  &__options-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 4px;
      padding-right: 10px;

      &::after {
        position: absolute;
        right: 0;
        content: '/';
      }
    }
  }

  &__quantity {
    display: flex;
    grid-area: quantity;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    grid-area: prices;
    align-items: center;
    justify-content: center;
  }

  &__price {
    font-weight: 800;
    font-size: 17px;
    line-height: 130%;

    &_old {
      color: var(--color-red);
      font-weight: 700;
      font-size: 14px;
      text-decoration-line: line-through;
    }
  }

  &__cart-wrapper {
    display: flex;
    grid-area: cart;
    align-items: center;
    justify-content: flex-end;
  }

  &__cart-remove {
    margin-left: 33px;
    padding: 0;
    color: var(--color-grey);
    font-weight: 400;
    font-size: 14px;

    &:hover {
      color: var(--color-red);
    }

    span {
      margin-left: 6px;
    }
  }

  &__calculate {
    display: flex;
    grid-area: calculate;
    align-items: center;
    justify-content: center;
  }

  &__total {
    display: flex;
    flex-direction: column;
    grid-area: total;
    align-items: flex-start;
    justify-content: center;
  }

  &__total-title {
    color: var(--color-grey);
    font-size: 14px;
  }

  &__total-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
  }

  &__bottom {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #e9e9e9;
  }

  &_type {
    &_catalog {
      .product-card-row__inner {
        grid-template-areas: 'name prices cart';
        grid-template-columns: 1fr 100px auto;
      }

      .product-card-row__rating {
        display: none;
      }
    }

    &_cart {
      .product-card-row__inner {
        grid-template-areas: 'name prices calculate total';
        grid-template-columns: repeat(4, auto);
      }

      .product-card-row__rating {
        display: none;
      }
    }

    &_user {
      .product-card-row__inner {
        grid-template-areas: 'name quantity prices';
        grid-template-columns: 1fr auto 100px;
      }
    }
  }

  @media (max-width: 900px) {
    &__inner {
      grid-gap: 20px;
      padding: 16px;
    }

    &__name-wrapper {
      font-size: 14px;
    }

    &__options {
      display: none;
    }

    &__quantity {
      font-weight: 800;
      font-size: 14px;
    }

    &__total-price {
      font-weight: 800;
      font-size: 18px;
    }

    &__price {
      font-size: 14px;

      &_old {
        font-size: 12px;
      }
    }

    &_type {
      &_catalog {
        .product-card-row__rating {
          display: flex;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &_type {
      &_catalog {
        .product-card-row__cart-remove {
          position: absolute;
          top: -5px;
          right: -5px;
          margin-left: 0;
          padding: 6px;
          color: #fff;
          background-color: var(--color-red);
          border-radius: 4px;

          span {
            display: none;
          }
        }
      }

      &_cart {
        .product-card-row__container {
          box-shadow: 0 30px 20px rgba(0, 0, 0, 0.05);
        }

        .product-card-row__inner {
          grid-template-areas: 'name prices calculate';
          grid-template-columns: repeat(3, auto);
        }

        .product-card-row__total {
          display: none;
        }

        .product-card-row__bottom {
          display: flex;
        }

        .product-card-row__calculate {
          justify-content: flex-end;
        }

        .product-card-row__rating {
          display: flex;
        }
      }
    }
  }

  @media (max-width: 540px) {
    &__inner {
      grid-gap: 16px;
    }

    &__cart-btn {
      .cart-btn {
        padding: 7px 15px;
      }
    }

    &_type {
      &_catalog {
        .product-card-row__inner {
          grid-template-areas: 'name name' 'prices cart';
          grid-template-columns: 1fr auto;
        }

        .product-card-row__price-wrapper {
          align-items: flex-start;
        }
      }

      &_cart {
        .product-card-row__inner {
          grid-template-areas: 'name name' 'prices calculate';
          grid-template-columns: 1fr auto;
        }

        .product-card-row__price-wrapper {
          align-items: flex-start;
        }
      }

      &_user {
        .product-card-row__inner {
          grid-template-areas: 'name name' 'quantity prices';
          grid-template-columns: 1fr auto;
        }
      }
    }

    &__quantity {
      align-items: flex-end;
    }
  }
}
