.product-specification {
  display: grid;
  grid-gap: 20px;

  &__item {
    display: flex;
    font-size: 17px;
  }

  &__title {
    color: var(--color-grey);
  }

  &__divider {
    flex-grow: 1;
    margin: auto 21px;
    border-top: 1px dashed #d9d9d9;
  }

  @media (max-width: 1024px) {
    &__title {
      max-width: 270px;
    }
  }

  @media (max-width: 768px) {
    grid-gap: 16px;

    &__item {
      font-size: 14px;
    }

    &__title {
      max-width: 150px;
    }

    &__divider {
      margin: 8px 8px 0;
    }
  }
}
