.radial-gradient {
  background: radial-gradient(
    ellipse 130px 260px at right center,
    #93ad5b 130px,
    #a4c067 131px,
    #a4c067 290px,
    #93ad5b 291px,
    #93ad5b 440px,
    #a4c067 0
  );

  @media (max-width: 550px) {
    background: radial-gradient(
      ellipse 49px 78px at right center,
      #93ad5b 60px,
      #a4c067 61px,
      #a4c067 136px,
      #93ad5b 137px,
      #93ad5b 240px,
      #a4c067 0
    );
  }
}
