.sale-item {
  &__title {
    margin-top: 15px;
    font-weight: 700;
  }

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fdfdfd;
  border: 0.5px solid #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);

  &:hover {
    .sale-item__title {
      color: var(--color-green);
    }
  }

  &__img-wrapper {
    display: flex;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__text {
    margin-top: 10px;
    color: var(--color-grey);
    font-size: 14px;
    line-height: 1.3;
  }

  @media (max-width: 768px) {
    padding: 16px;
  }
}
