.sale-label {
  --bg-color: #fff;

  display: flex;
  align-items: center;
  padding: 5px 8px;
  color: #fff;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 4px;
  box-shadow: -10px -20px 30px rgba(237, 255, 197, 0.5),
    10px 20px 40px rgba(85, 64, 1, 0.3);

  &__inner {
    padding: 6px 8px;
    background-color: var(--bg-color);
    border-radius: 4px;
    box-shadow: -10px -20px 30px rgba(237, 255, 197, 0.5),
      10px 20px 40px rgba(85, 64, 1, 0.3);
  }

  &_type {
    &_primary {
      --bg-color: #9caf73;
    }

    &_secondary {
      --bg-color: #d6c07a;
    }
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
