.search-block {
  position: relative;
  flex-grow: 1;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: border-color 0.3s;

    &:hover {
      border-color: var(--color-black);
    }
  }

  &__input {
    width: 100%;
    color: var(--color-black);
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--color-grey);
      font-size: 14px;
    }
  }

  &__btn {
    padding: 0;
    color: #aaa;
    outline: none;
  }

  &__results {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px 15px;

    &_selected {
      background: var(--color-light-bg-green);
    }

    &:not(:last-child) {
      border-bottom: 1px solid #d9d9d9;
    }
  }

  &__img-wrapper {
    display: flex;
    min-width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      max-width: 32px;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  &__name {
    margin-left: 8px;
    font-size: 14px;

    &:hover {
      color: var(--color-green);
    }
  }

  &[aria-expanded='true'] {
    .search-block__inner {
      border-radius: 4px 4px 0 0;
    }

    .search-block__results {
      display: flex;
    }
  }

  @media (max-width: 860px) {
    &__item {
      padding: 8px;
    }
  }

  @media (max-width: 800px) {
    &__img-wrapper {
      display: none;
    }
  }
}
