.side-menu {
  box-sizing: border-box;
  padding: 20px;
  background-color: #fdfdfd;
  border: 0.5px solid #e9e9e9;
  border-radius: 4px;

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__list {
    display: grid;
    grid-gap: 20px;
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: var(--color-grey);
    transition: 0.2s;

    &:hover {
      color: #4a4a4a;
    }
  }

  &__item {
    &_exit {
      .side-menu__link {
        color: #aaa;
      }
    }

    &.active {
      .side-menu__link {
        padding-left: 15px;
        color: var(--color-green);

        &:hover {
          color: var(--color-green);
        }

        &::after {
          position: absolute;
          left: 0;
          border: 6px solid transparent;
          border-left: 6px solid var(--color-green);
          content: '';
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0;
    background-color: transparent;
    border: none;

    &__list {
      display: flex;
      grid-gap: 10px;
      width: auto;
      padding-bottom: 12px;
      overflow-x: scroll;
    }

    &__item {
      box-sizing: border-box;
      padding: 9px 16px;
      color: #797979;
      white-space: nowrap;
      border: 1px solid #d9d9d9;
      border-radius: 4px;

      &_exit {
        display: none;
      }

      &.active {
        background-color: #fdfdfd;
        border: 0.5px solid #e9e9e9;

        .side-menu__link {
          padding-left: 0;
          color: var(--color-green);

          &:hover {
            color: var(--color-green);
          }

          &::after {
            content: none;
          }
        }
      }
    }
  }
}
