.slider {
  position: relative;

  .swiper {
    padding-bottom: 10px;
  }

  .btn-arrows {
    &__item {
      top: 45%;

      &_prev {
        left: -14px;
      }

      &_next {
        right: -14px;
      }
    }
  }

  @media (max-width: 1023px) {
    &_type {
      &_secondary {
        .btn-arrows {
          margin-top: 24px;

          &__item {
            position: relative;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    &_type {
      &_main {
        .btn-arrows {
          &__item {
            min-width: 22px;
            height: 22px;

            svg {
              width: 5px;
            }

            &_prev {
              left: -9px;
            }

            &_next {
              right: -9px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 559px) {
    &_type {
      &_primary {
        .btn-arrows {
          margin-top: 24px;

          &__item {
            position: relative;
          }
        }
      }
    }
  }
}
