.type-plants {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &__item {
    display: flex;
    flex-basis: 150px;
    flex-grow: 0.1;
    justify-content: center;
    box-sizing: border-box;
    padding: 9px 15px;
    color: var(--color-grey);
    white-space: nowrap;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      color: var(--color-green);
      background-color: #fdfdfd;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 11px;
    padding-bottom: 12px;
    overflow-x: scroll;
    font-size: 14px;
    white-space: nowrap;
  }
}
