.user-change-password {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);

  &__old-password {
    grid-column: 1/-1;
  }

  @media (max-width: 768px) {
    grid-gap: 8px;
    grid-template-columns: repeat(1, 1fr);

    &__title {
      margin-bottom: 8px;
    }

    &__btn {
      margin-top: 8px;
    }
  }
}
