.user-my-addresses {
  &__text {
    max-width: 670px;
    margin: 20px 0 30px;
  }

  &__btn {
    padding: 13px 80px;
  }

  @media (max-width: 768px) {
    &__text {
      margin: 16px 0 24px;
    }

    &__btn {
      width: 100%;
      padding: 13px;
    }
  }
}
