.user-subscribe {
  &__inputs,
  &__btn-wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  &__agree {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    &__inputs,
    &__btn-wrapper {
      grid-gap: 8px;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 16px;
    }

    &__agree {
      margin-top: 16px;
    }
  }
}
