.user-data {
  display: grid;
  grid-gap: 30px;

  &__grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    &_additional {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__input {
    &_lastname {
      grid-column: 1/-1;
    }
  }

  @media (max-width: 768px) {
    grid-gap: 24px;

    &__title {
      &_third {
        margin-bottom: 8px;
      }
    }

    &__grid {
      grid-gap: 8px;
      grid-template-columns: repeat(1, 1fr);

      &_additional {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
