.your-town {
  display: flex;
  align-items: baseline;
  color: var(--color-grey);
  font-size: 14px;

  &__name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 0;
    color: var(--color-black);
    font-weight: 500;
    font-size: 14px;

    svg {
      margin-left: 5px;
    }

    &:hover {
      color: darken(#4a4a4a, 10%);
    }
  }
}
