<template>
  <form @submit.prevent="checkout">
    <div class="order__contact">
      <div class="title title_type_secondary">01. Контактные данные</div>
      <div class="order__contact-inner">
        <input
          v-model="orderData.customer.name"
          type="text"
          required
          class="text-field"
          placeholder="ФИО"
          aria-label="ФИО"
        />
        <input
          v-model="orderData.customer.phone"
          v-maska="'+7 (###) ###-##-##'"
          type="tel"
          class="text-field"
          required
          placeholder="Телефон"
          aria-label="Телефон"
          :class="{ error: errorFields.includes('phone') }"
        />
        <input
          v-model="orderData.customer.email"
          type="email"
          class="text-field"
          required
          placeholder="Электронная почта"
          aria-label="Электронная почта"
        />
        <textarea
          v-model="orderData.comment"
          class="text-field order__textarea"
          placeholder="Комментарий к заказу (необязательно)"
        />
      </div>
    </div>
    <div class="order__delivery-terms">
      <div class="order__delivery">
        <div class="title title_type_secondary">02. Доставка</div>
        <div class="order__buttons-group">
          <div class="order__btn-wrapper">
            <input
              id="door"
              v-model="orderData.deliveryType"
              name="delivery"
              :value="DeliveryType.TO_DOOR"
              type="radio"
              class="order__radio"
              checked
            />
            <label for="door" class="order__btn">
              <svg width="24" height="24">
                <use xlink:href="sprite.svg#credit-card-front" />
              </svg>
              <span>До дверей</span>
            </label>
          </div>
          <div class="order__btn-wrapper">
            <input
              id="point"
              v-model="orderData.deliveryType"
              name="delivery"
              :value="DeliveryType.PICKUP"
              type="radio"
              class="order__radio"
            />
            <label for="point" class="order__btn">
              <svg width="24" height="24">
                <use xlink:href="sprite.svg#box-open" />
              </svg>
              <span>К пункту выдачи</span>
            </label>
          </div>
        </div>
        <div class="order__delivery-form">
          <dadata-field
            v-if="orderData.deliveryType === DeliveryType.TO_DOOR"
            v-model="orderData.address"
            class="order__delivery-input-wrapper"
            placeholder="Введите ваш адрес"
            input-class="text-field"
          />
          <pickup-points-form
            v-if="orderData.deliveryType === DeliveryType.PICKUP"
            v-model:city="city"
          />
        </div>
        <div class="order__delivery-info">
          <div
            v-for="item of deliveryInfo"
            :key="item.label"
            class="order__delivery-total-wrapper"
          >
            <div class="order__delivery-total-title">{{ item.label }}:</div>
            <div class="order__delivery-total-count">
              {{ item.value }}
            </div>
          </div>
        </div>
      </div>
      <div class="order__payment">
        <div class="title title_type_secondary">03. Оплата</div>
        <div class="order__buttons-group">
          <div class="order__btn-wrapper">
            <input
              id="card"
              v-model="orderData.paymentMethod"
              name="pay"
              value="online"
              type="radio"
              class="order__radio"
              checked
            />
            <label for="card" class="order__btn">
              <svg width="24" height="24">
                <use xlink:href="sprite.svg#credit-card-front" />
              </svg>
              <span>Картой на сайте</span>
            </label>
          </div>
          <div class="order__btn-wrapper">
            <input
              id="receipt"
              v-model="orderData.paymentMethod"
              name="pay"
              value="on-place"
              type="radio"
              class="order__radio"
            />
            <label for="receipt" class="order__btn">
              <svg width="24" height="24">
                <use xlink:href="sprite.svg#box-open" />
              </svg>
              <span>При получении</span>
            </label>
          </div>
        </div>
      </div>
      <div class="order__map-wrapper">
        <yandex-map
          v-if="coords"
          class="order__map"
          :settings="mapSettings"
          :controls="mapControls"
          :coords="coords"
          :zoom="15"
        >
          <ymap-marker
            v-if="coords"
            marker-id="address-point"
            :coords="coords"
          />
        </yandex-map>
        <pick-up-points-map
          v-if="orderData.deliveryType === DeliveryType.PICKUP"
          v-model="orderData.pickUpPointId"
          :city="city"
          class="order__map"
        />
      </div>
    </div>
    <div v-if="total" class="order__total-wrapper">
      <div class="order__total-text">
        {{ deliveryInfo ? 'Итого с учётом доставки:' : 'Итого:' }}
      </div>
      <div class="order__total-count">
        <base-rubles :price="total" />
      </div>
    </div>
    <div class="order__pay">
      <!--          {{ component('come-back') }}-->
      <button class="btn btn_type_secondary order__pay-btn">
        Оплатить заказ
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import { computed, defineComponent, inject, PropType, ref, watch } from 'vue';
import { debounce } from 'lodash';
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import { yandexMap, ymapMarker } from 'vue-yandex-maps';
import BaseRubles from '../base/base-rubles.vue';
import DadataField from '../../dadata/components/dadata-field.vue';
import 'vue-next-select/dist/index.css';

import { CheckoutService } from '../../lib/checkout/checkout';
import {
  DeliveryInfo,
  DeliveryType,
  OrderData,
  OrderResponse,
} from '../../lib/checkout/types';
import { ValidationErrorResponse } from '../../lib/api/validation-error-response';
import { PickUpPointsService } from '../../lib/pick-up-points/pick-up-points';
import PickUpPointsMap from './delivery/pickup-points/pickup-points-map.vue';
import PickupPointsForm from './delivery/pickup-points/pickup-points-form.vue';

const SAVE_DEBOUNCE = 1000;

export default defineComponent({
  name: 'CheckoutForm',
  components: {
    PickupPointsForm,
    PickUpPointsMap,
    DadataField,
    BaseRubles,
    yandexMap,
    ymapMarker,
  },
  props: {
    initialData: {
      type: Object as PropType<OrderResponse>,
      required: true,
    },
  },
  setup(props) {
    const pickUpPointsService = inject<PickUpPointsService>(
      'pickUpPointsService'
    );
    const checkoutService = inject<CheckoutService>('checkoutService');
    if (!pickUpPointsService || !checkoutService) {
      throw new Error('Required services are not provided');
    }
    const city = ref<string | null>(props.initialData.pickPointCity);

    const orderResponse = ref<OrderResponse | null>(props.initialData);
    const orderData = ref<OrderData>(props.initialData.data);
    const previousAbort = ref<(() => void) | null>(null);

    const errors = ref<{ field: string; errors: string[] }[]>([]);
    const errorFields = computed(() => errors.value.map(({ field }) => field));

    // Delivery Info
    const deliveryInfo = ref<DeliveryInfo | null>(
      props.initialData.deliveryInfo
    );
    watch(orderResponse, (value) => {
      if (value) {
        deliveryInfo.value = value.deliveryInfo;
      }
    });

    const deliveryType = computed(() => orderData.value.deliveryType);
    watch(deliveryType, () => {
      deliveryInfo.value = null;
    });

    const coords = computed(() => {
      if (orderData.value.deliveryType !== DeliveryType.TO_DOOR) {
        return null;
      }
      if (!orderResponse.value?.decodedAddress) {
        return null;
      }
      if (
        !orderResponse.value.decodedAddress.lat ||
        !orderResponse.value.decodedAddress.lng
      ) {
        return null;
      }
      return [
        orderResponse.value.decodedAddress.lat,
        orderResponse.value.decodedAddress.lng,
      ];
    });

    const total = ref<number | null>(orderResponse.value?.total || null);
    watch(orderResponse, (value) => {
      if (value) {
        total.value = value.total;
      }
    });

    const save = async (data: OrderData) => {
      try {
        errors.value = [];
        orderResponse.value = null;
        if (previousAbort.value) {
          previousAbort.value();
        }
        const { promise, abort } = checkoutService.save(data);
        previousAbort.value = abort;
        orderResponse.value = await promise;
        previousAbort.value = null;
      } catch (e) {
        if (e instanceof ValidationErrorResponse) {
          const responseErrors = await e.getErrors();
          errors.value = Object.entries(responseErrors).map(
            ([field, errorItems]) => ({
              field,
              errors: errorItems,
            })
          );
        }
      }
    };

    const debouncedSave = debounce(save, SAVE_DEBOUNCE);

    watch(orderData, debouncedSave, { deep: true });

    const checkout = async () => {
      // const redirectTo = await checkoutService.finish(orderData.value);
    };

    return {
      city,

      orderData,
      errorFields,
      checkout,
      deliveryInfo,
      DeliveryType,
      coords,
      mapControls: ['typeSelector', 'zoomControl'],
      mapSettings: {
        apiKey: '',
        lang: 'ru_RU',
        coordorder: 'latlong',
        enterprise: false,
        version: '2.1',
      },
      total,
    };
  },
});
</script>
