<template>
  <div class="order">
    <div class="container">
      <div class="title title_type_primary order__title">Оформление заказа</div>
      <div class="order__inner">
        <checkout-form v-if="initialResponse" :initial-data="initialResponse" />
      </div>
    </div>
    <div class="order__complete">
      <!--      {{ block('last-block', {-->
      <!--      options: {-->
      <!--        image: 'images/boxes.png',-->
      <!--        width: '378',-->
      <!--        height: '342',-->
      <!--        title: 'Спасибо за покупку!',-->
      <!--        subtitle: 'Номер заказа: <b>787898</b>',-->
      <!--      btnPrimary: 'Перейти в личный кабинет',-->
      <!--      btnSecondary: 'Отследить статус заказа'-->
      <!--      }-->
      <!--      }) }}-->
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, inject, ref } from 'vue';
import { CheckoutService } from '../../lib/checkout/checkout';
import CheckoutForm from './checkout-form.vue';
import { OrderResponse } from '../../lib/checkout/types';

export default defineComponent({
  name: 'CheckoutPage',
  components: { CheckoutForm },
  setup() {
    const checkoutService = inject<CheckoutService>('checkoutService');
    const initialResponse = ref<null | OrderResponse>(null);
    checkoutService?.getInfo().then((data) => {
      initialResponse.value = data;
    });
    return {
      initialResponse,
    };
  },
});
</script>
