.article {
  margin: 20px 0 120px;

  &__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 4fr 1fr;
  }

  &__text {
    margin-top: 15px;
  }

  &__video {
    margin-top: 15px;
  }

  &__images-wrapper {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
  }

  &__img-wrapper {
    display: flex;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      max-width: 450px;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  &__cards {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px 0;

    &_vertical {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 768px) {
    margin: 10px 0 64px;

    &__inner {
      grid-gap: 40px;
      grid-template-columns: 1fr;
    }

    &__aside {
      display: none;
    }

    &__cards {
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);

      &_vertical {
        grid-template-columns: 1fr;
      }
    }

    &__images-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }

    &__img-wrapper {
      &:last-child {
        display: none;
      }
    }
  }
}
