.bread-crumbs {
  &__container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    font-size: 14px;
  }

  &__item {
    position: relative;

    &:hover {
      color: var(--color-grey);
    }

    &:last-child {
      color: var(--color-grey);
    }

    &:not(:last-child) {
      margin-right: 14px;

      &::after {
        position: absolute;
        margin-left: 6px;
        content: '/';
      }
    }
  }
}
