.cart-header {
  margin: 50px 0 20px;

  &__logo {
    display: flex;

    img {
      max-width: 179px;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  &__come-back {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    margin-top: 32px;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__come-back {
      margin-top: 0;
    }
  }

  @media (max-width: 375px) {
    &__logo {
      img {
        max-width: 130px;
      }
    }
  }
}
