.catalog {
  margin-top: 20px;
  margin-bottom: 80px;

  &__inner {
    display: grid;
    grid-gap: 40px;
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 24px;
      margin-top: 24px;
    }
  }
}
