.catalog-filter {
  margin: 20px 0 120px;

  &__inner {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 270px 1fr;
    margin-top: 40px;
  }

  &__contents-header {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: minmax(0, 1fr);
  }

  &__desc {
    color: #797979;
    font-size: 14px;
    line-height: 1.6;
  }

  &__cards {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;

    &_vertical {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__contents-footer {
    display: grid;
    grid-gap: 40px;
    margin-top: 25px;
  }

  &__more {
    text-align: center;
  }

  &__more-btn {
    padding: 13px 37px;
  }

  &__article {
    margin-top: 80px;
  }

  &__article-text {
    margin-top: 20px;
    color: var(--color-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
  }

  @media (max-width: 1024px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);

      &_vertical {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  @media (max-width: 768px) {
    &__inner {
      grid-template-columns: minmax(0, 1fr);
      margin-top: 24px;
    }

    &__filters,
    &__desc,
    &__article {
      display: none;
    }

    &__cards {
      grid-gap: 10px;
      margin-top: 25px;
    }

    &__more,
    &__pagination {
      margin-top: 24px;
    }
  }

  @media (max-width: 374px) {
    &__cards {
      grid-template-columns: 1fr;
    }
  }
}
