.complete {
  margin: 60px 0 120px;
  text-align: center;

  &__img-wrapper {
    img {
      max-width: 378px;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  &__title {
    margin-top: 40px;
  }

  &__order {
    margin-top: 15px;
    color: var(--color-grey);

    b {
      color: var(--color-black);
    }
  }

  &__btn {
    margin-top: 25px;
    padding: 13px 70px;
  }
}
