.contacts {
  margin: 20px 0 95px;

  &__items {
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }

  &__item {
    &_map {
      grid-column: 1/-1;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 1.2;

    svg {
      flex-shrink: 0;
      margin-right: 8px;
      color: var(--color-green);
    }
  }

  &__text-wrapper {
    display: grid;
    grid-gap: 15px;
  }

  &__text {
    span {
      color: var(--color-grey);
    }
  }

  &__map-wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25px;
  }

  &__map {
    display: flex;
    grid-row: span 2;
    grid-column: span 2;
    overflow: hidden;
    border-radius: 4px;
  }

  &__tour,
  &__scheme {
    display: flex;

    img {
      width: 100%;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  &__tour-frame:not(.class-for-increase-specification) {
    width: 80vw;
    height: 80vh;
    padding: 0;
  }

  @media (max-width: 768px) {
    &__items {
      grid-row-gap: 24px;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 24px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 17px;
    }

    &__text {
      font-size: 14px;
    }

    &__map-wrapper {
      grid-gap: 24px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__map {
      grid-row: auto;
      grid-column: auto;
    }
  }

  @media (max-width: 425px) {
    &__tour-frame:not(.class-for-increase-specification) {
      width: 90vw;
    }
  }
}
