.favorite {
  &__banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #a4c067;
    border-radius: 4px 4px 0 0;
  }

  &__banner-title {
    z-index: 2;
    padding: 40px;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 31px;
    line-height: 1.2;
  }

  &__banner-img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;

    img {
      width: 100%;
      max-width: 680px;
      height: auto;
      object-fit: cover;
    }
  }

  &__inner {
    display: grid;
    grid-gap: 25px;
    margin-top: 37px;
  }

  &__button-wrapper {
    text-align: center;
  }

  &__btn {
    padding: 13px 38px;
  }

  @media (max-width: 768px) {
    margin-top: 12px;
    margin-bottom: 40px;

    &__inner {
      grid-gap: 8px;
      margin-top: 24px;
    }

    &__banner {
      align-items: center;
      min-height: 90px;
      margin-top: 24px;
    }

    &__banner-title {
      padding: 32px 15px;
      font-size: 22px;
    }
  }

  @media (max-width: 425px) {
    &__btn {
      width: 100%;
    }
  }
}
