.last-block {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__img-wrapper {
    display: flex;
  }

  &__image {
    max-width: 650px;
    height: auto;

    &.grey {
      filter: grayscale(100%);
      transition: filter 0.3s;
    }
  }

  &__subtitle {
    margin-top: 15px;
    color: var(--color-grey);
    text-align: center;

    a {
      color: var(--color-black);
      text-decoration: underline;
    }
  }

  &__btn-wrapper {
    display: flex;
    grid-gap: 30px;
    margin-top: 25px;
  }

  &__btn {
    padding: 13px 30px;
  }

  @media (max-width: 768px) {
    &__img-wrapper {
      img {
        width: 100%;
        max-width: none;
      }
    }

    &__subtitle {
      font-size: 14px;
    }
  }
}
