.main-slider {
  --font-color: #fff;

  margin-top: 25px;
  padding-bottom: 10px;

  &__swiper-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    position: relative;

    &_color {
      &_primary {
        --font-color: #5f6f3c;
      }

      &_secondary {
        --font-color: #8f7d44;
      }
    }
  }

  &__image-wrapper {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
  }

  &__image-variant-wrapper {
    flex-grow: 1;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 591px;
    padding: 0 40px;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-weight: 800;
    font-size: 42px;
    line-height: 1.2;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: var(--font-color);
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;

    p {
      margin: 0;
    }

    strong {
      position: relative;
      z-index: 1;
      display: inline-block;
      margin-left: 20px;
      padding: 6px 8px;
      color: white;
      font-weight: 800;
      font-size: 28px;
      line-height: 120%;

      &::before {
        position: absolute;
        top: -5px;
        right: -8px;
        bottom: -5px;
        left: -8px;
        z-index: -1;
        display: block;
        background-color: #9caf73;
        border-radius: 4px;
        box-shadow: -10px -20px 30px rgba(237, 255, 197, 0.5),
          10px 20px 40px rgba(85, 64, 1, 0.3);
        content: '';
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: #9caf73;
        border-radius: 4px;
        box-shadow: -10px -20px 30px rgba(237, 255, 197, 0.5),
          10px 20px 40px rgba(85, 64, 1, 0.3);
        content: '';
      }
    }
  }

  &__sale {
    margin-left: 10px;
  }

  &__btn {
    margin-top: 40px;

    svg {
      margin-left: 12px;
    }
  }

  &__btn-down {
    position: absolute;
    bottom: 37px;
    z-index: 10;
    display: block;
    width: 22px;
    height: 34px;
    padding: 0;
    color: #798c4f;
    background-color: transparent;
    border: none;
    cursor: pointer;
    contain: strict;
    animation: bounce 1s infinite linear;

    &:hover {
      opacity: 0.7;
    }
  }

  &__benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    padding: 0 32px;
    background-color: #fdfdfd;
    border: 0.5px solid #e9e9e9;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  &__benefit {
    display: flex;
    align-items: center;
    padding: 20px 22px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child) {
      border-right: 1px solid #e9e9e9;
    }
  }

  &__benefit-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    background: #f3f3f3;
    border-radius: 4px;

    img {
      max-width: 34px;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  &__benefit-title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.3;
  }

  @media (max-width: 800px) {
    &__benefits {
      padding: 0 20px;
    }

    &__benefit-title {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 15px;
    padding-bottom: 0;

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      margin-top: 12px;
      font-size: 14px;
    }

    &__btn {
      margin-top: 20px;

      svg {
        width: 9px;
      }
    }

    &__btn-down {
      display: none;
    }

    &__benefits {
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }

    &__benefit {
      padding: 16px 13px;

      &:first-child {
        padding-left: 13px;
        border-bottom: 1px solid #e9e9e9;
      }

      &:nth-child(2) {
        border-right: none;
        border-bottom: 1px solid #e9e9e9;
      }

      &:last-child {
        padding-right: 13px;
      }
    }
  }

  @media (max-width: 600px) {
    &__content {
      max-width: 240px;
      padding: 0 24px;
    }
  }

  @media (max-width: 425px) {
    &__benefit-img-wrapper {
      min-width: 30px;
      height: 30px;

      img {
        max-width: 20px;
      }
    }
  }

  @media (max-width: 375px) {
    &__benefit {
      padding: 10px;
    }

    &__benefit-title {
      font-size: 12px;
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}
