.news {
  --bg-color: #fff;
  --name-color: var(--color-black);
  --text-color: var(--color-grey);

  margin-bottom: 40px;

  &__title {
    text-align: center;
  }

  &__slider-wrapper {
    position: relative;
    margin-top: 50px;

    .btn-arrow {
      top: 160px;

      &_prev {
        left: -14px;
      }

      &_next {
        right: -14px;
      }
    }
  }

  &__slider {
    padding-top: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--bg-color);
    border: 0.5px solid #e9e9e9;
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
      --bg-color: var(--color-green);
      --name-color: #fdfdfd;
      --text-color: #fdfdfd;

      transform: translateY(-10px);
    }
  }

  &__img-wrapper {
    display: flex;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      max-width: 270px;
      height: auto;
      background-color: var(--color-bg-grey);
    }

    &_blog {
      img {
        max-width: 370px;
      }
    }
  }

  &__content {
    padding: 20px;
  }

  &__name {
    color: var(--name-color);
    font-weight: 500;
  }

  &__text {
    margin-top: 11px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
  }

  @media (max-width: 768px) {
    &__title {
      text-align: left;
    }

    &__slider-wrapper {
      margin-top: 24px;
    }

    &__content {
      padding: 16px;
    }

    &__name {
      font-size: 14px;
    }

    &__text {
      margin-top: 8px;
    }
  }

  @media (max-width: 400px) {
    &__img-wrapper {
      img {
        max-width: 370px;
      }
    }
  }
}
