.product-grid {
  &__title {
    text-align: left;

    &_position {
      &_center {
        text-align: center;
      }
    }
  }

  &__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
  }

  &__btn-wrapper {
    margin: 25px auto 0;
    text-align: center;
  }

  &__btn {
    padding: 13px 42px;
  }

  @media (max-width: 860px) {
    &__inner {
      grid-gap: 9px;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 24px;
    }

    &__btn {
      padding: 13px 30px;
    }
  }

  @media (max-width: 560px) {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 374px) {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
