.sale-banner {
  margin-top: 20px;

  &__img-wrapper {
    position: relative;
    display: flex;
    min-height: 148px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      max-width: 1170px;
      height: auto;
      object-fit: cover;
      background-color: var(--color-bg-grey);
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      content: '';
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding: 25px;
  }

  &__title {
    color: #fdfdfd;
  }

  &__text {
    margin-top: 19px;
    color: #f3f3f3;
  }

  @media (max-width: 768px) {
    margin-top: 12px;

    &__text {
      margin-top: 16px;
      font-size: 14px;
    }
  }
}
