.sale-text {
  margin: 25px 0 120px;

  &__video {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;
  }

  &__video-item {
    display: flex;
    overflow: hidden;
    border-radius: 4px;
  }

  &__images {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }

  &__img-wrapper {
    display: flex;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: auto;
      background-color: var(--color-bg-grey);
    }
  }

  @media (max-width: 768px) {
    &__video {
      grid-template-columns: repeat(1, 1fr);
    }

    &__images {
      grid-gap: 24px;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 20px;
    }
  }
}
