.sale {
  margin: 20px 0 120px;

  &__inner {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
  }

  &__btn-wrapper {
    margin-top: 30px;
    text-align: center;

    .btn {
      padding: 13px 38px;
    }
  }

  @media (max-width: 768px) {
    margin: 10px 0 64px;

    &__inner {
      grid-gap: 16px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__btn-wrapper {
      display: flex;
      margin-top: 16px;

      .btn {
        width: 100%;
        padding: 13px;
      }
    }
  }
}
