.special-offer {
  &__title {
    text-align: center;
  }

  &__cards {
    margin-top: 40px;
  }

  &__slide {
    display: flex;
    justify-content: center;
  }

  &__additional {
    margin-top: 80px;
    color: #fffefe;
  }

  &__text {
    margin-top: 25px;
    line-height: 1.6;
  }

  @media (max-width: 768px) {
    &__additional {
      margin-top: 40px;
    }

    &__text {
      font-size: 14px;
    }
  }

  @media (max-width: 560px) {
    &__cards {
      margin-top: 24px;
    }
  }
}
