.subscribe-section {
  &__container {
    position: relative;
    padding: 40px;
    background-color: var(--color-bg-green);
    border-radius: 4px;
  }

  &__inner {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  &__title {
    max-width: 430px;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
  }

  &__input-wrapper {
    display: flex;
  }

  &__label {
    width: 100%;
  }

  &__btn {
    margin-left: -10px;
    padding: 13px 18px;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 22px;
    }
  }

  @media (max-width: 600px) {
    &__inner {
      grid-gap: 16px;
      grid-template-columns: 1fr;
    }
  }
}
