.user {
  margin: 20px 0 120px;

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__inner {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr minmax(0, 3fr);
    margin-top: 25px;
  }

  &__btn-exit {
    display: none;
    padding: 4px 14px;
    color: var(--color-grey);
    font-weight: 400;
    font-size: 14px;
    background-color: #e9e9e9;
    border-radius: 4px;
  }

  @media (max-width: 768px) {
    margin: 12px 0 64px;

    &__btn-exit {
      display: flex;
    }

    &__inner {
      grid-gap: 24px;
      grid-template-columns: minmax(0, 1fr);
      margin-top: 32px;
    }
  }
}
