<template>
  <div class="roduct-card-row product-card-row_type_cart">
    <div class="product-card-row__container">
      <a
        v-if="product.image"
        :href="product.link"
        class="a-clear product-card-row__img-wrapper"
      >
        <img
          loading="lazy"
          width="120"
          height="120"
          :src="product.image.src"
          :srcset="product.image.srcset"
          alt=""
        />

        <div class="label">-50%</div>
      </a>
      <div class="product-card-row__inner">
        <div class="product-card-row__name-wrapper">
          <a :href="product.link" class="a-clear product-card-row__name">
            {{ product.name }}
          </a>

          <div class="product-card-row__options" />
        </div>

        <div class="product-card-row__price-wrapper">
          <div
            v-if="product.oldPrice"
            class="product-card-row__price product-card-row__price_old"
          >
            <base-rubles :price="product.oldPrice" />
          </div>

          <div class="product-card-row__price">
            <base-rubles :price="product.price" />
          </div>
        </div>

        <div class="product-card-row__calculate">
          <div class="calculate js-calculate">
            <button
              class="btn calculate__btn calculate__btn_minus"
              @click="decrease"
            >
              <svg width="12" height="12">
                <use xlink:href="sprite.svg#minus" />
              </svg>
            </button>
            <input
              v-model="count"
              class="calculate__input"
              data-input=""
              type="number"
            />
            <button class="btn calculate__btn" @click="increase">
              <svg width="12" height="12">
                <use xlink:href="sprite.svg#plus" />
              </svg>
            </button>
          </div>
        </div>

        <div class="product-card-row__total">
          <div class="product-card-row__total-title">Общая цена:</div>
          <div class="product-card-row__total-price">
            <base-rubles :price="product.total" />
          </div>
        </div>
      </div>
    </div>
    <div class="product-card-row__bottom">
      <div class="product-card-row__total-title">Общая цена:</div>
      <div class="product-card-row__total-price">
        <base-rubles :price="product.total" />
      </div>
    </div>
  </div>
</template>

<script>
import BaseRubles from '../base/base-rubles.vue';

export default {
  name: 'CartProduct',
  components: { BaseRubles },
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
  emits: ['update:count'],
  data() {
    return {
      count: this.product.count,
    };
  },
  watch: {
    count(newValue) {
      this.$emit('update:count', newValue);
    },
  },
  methods: {
    increase() {
      this.count += 1;
    },
    decrease() {
      if (this.count > 0) {
        this.count -= 1;
      }
    },
  },
};
</script>
