<template>
  <div class="cart__items">
    <div v-for="product of products" :key="product.key" class="cart__item">
      <cart-product
        :product="product"
        @update:count="updateProduct(product, $event)"
      />
    </div>
  </div>
  <div class="cart__total-wrapper">
    <div class="cart__total-item">
      <div class="cart__total-title">Итого {{ count }} товаров:</div>
      <div class="cart__total-price">
        <base-rubles :price="total" />
      </div>
    </div>
    <div class="cart__total-item">
      <div class="cart__total-title cart__total-title_hide">Промокод:</div>
      <div class="cart__promo-wrapper">
        <div v-if="coupon" class="cart__promo-applied active">
          Промокод <span>{{ count.name }}</span> применен
        </div>
        <div class="cart__promo">
          <input
            v-model="couponText"
            class="text-field cart__label"
            placeholder="Промокод"
            aria-label="Промокод"
          />
          <button
            class="btn btn_type_primary cart__promo-btn"
            type="button"
            @click="applyCoupon"
          >
            Применить
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import CartProduct from './cart-product.vue';
import { Cart, CART_EVENTS } from '../../lib/cart/cart';
import { Api } from '../../lib/api/api';
import BaseRubles from '../base/base-rubles.vue';

type CartItem = {
  key: string;
  name: string;
  count: number;
  price: number;
  total: number;
};

type Coupon = {
  name: string;
  description: string;
};

type CartInfo = {
  items: CartItem[];
  total: number;
  count: number;
  coupon: Coupon | null;
};

export default defineComponent({
  name: 'CartPage',
  components: { BaseRubles, CartProduct },
  props: {
    apiService: {
      required: true,
      type: Object as PropType<Api>,
    },
    cartService: {
      required: true,
      type: Object as PropType<Cart>,
    },
  },
  data() {
    return {
      products: [] as CartItem[],
      total: 0,
      count: 0,
      coupon: null as Coupon | null,
      couponText: '',
      loading: false,
    };
  },
  mounted() {
    this.cartService.on(CART_EVENTS.INFORMATION_UPDATE, this.fetchCatalog);
    this.fetchCatalog();
  },
  unmounted() {
    this.cartService.off(CART_EVENTS.INFORMATION_UPDATE, this.fetchCatalog);
  },
  methods: {
    fetchCatalog() {
      this.apiService
        .get<CartInfo>('/api/website/cart/info')
        .then((data: CartInfo) => {
          this.products = data.items;
          this.total = data.total;
          this.count = data.count;
          this.coupon = data.coupon;
        });
    },
    updateProduct(product: CartItem, count: number) {
      this.cartService.update(product.key, count);
    },
    applyCoupon() {
      // TODO apply coupon
    },
  },
});
</script>
